[Unit]
	Description=Bluetooth Auth Agent
	After=bluetooth.service
	PartOf=bluetooth.service

[Service]
	Type=simple
	ExecStart=/usr/bin/bt-agent -c NoInputNoOutput
	ExecStartPost=/bin/sleep 1
	ExecStartPost=/bin/hciconfig hci0 piscan
	ExecStartPost=/bin/hciconfig hci0 sspmode 1
